<div class="main-menu-container">
  <div
    [ngClass]="routeAnimationsElements"
    class="menu-grid content-area-shadow"
    *ngFor="let menu of menus"
    (click)="goTo(menu)"
  >
    <div class="img-div">
      <img *ngIf="menu.image" alt="test" src="assets/images/icons/{{menu.image}}">
      <mat-icon *ngIf="menu.icon" [svgIcon]="menu.icon"></mat-icon>
    </div>
    <div>
      <h2 class="registration-title mb-1">{{menu.name}}</h2>
      <p class="lead">{{menu.description}}</p>
    </div>
  </div>
</div>
