.sidenav-container {
  height: 100%;
}
//.main-nav {
//  position: static;
//  top: 0;
//  left: 0;
//  right: 0;
//  z-index: 2;
//}
//@media (max-width: 740px){
//.main-nav {
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  z-index: 2;
//}
//}



//mat-nav-list img {
//  height: 20px;
//  margin-right: 15px;
//  margin-bottom: 8px;
//}

mat-nav-list {
  padding-top: 1px;
}

.active-menu {
  //@apply rounded-none bg-gray-400 text-black border-r-2 border-r-first;
  border-radius: 0!important;
  background-color: rgba(0,0,0,0.08)!important;
  color: darkcyan!important;
  border-right: 4px solid #2b637a!important;


}

.sidenav {
  width: 350px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.14);
  //box-shadow: inset 2px 0 3px
}

.sidenav .mat-toolbar {
  //@apply bg-first;
}

.mat-toolbar .mat-primary {
  position: absolute;
  top: 0;
  z-index: 1;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-drawer-side {
  border: 0 !important;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  display: block;
  height: 60px!important;
  width: 100%;
  padding: 0;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1) !important;
}

.mat-list-base .mat-list-item:hover, .mat-list-base .mat-list-option:hover {
  transform: scale(1.03);
  font-size: 16px!important;
  font-weight: 500!important;
  color: black!important;
  border-right: 4px solid #0277bd!important;
}

.sidenav-container {
  height: 100%;
  overflow: hidden !important;
  margin-bottom: 10px;

  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12) !important;
  }

  .mat-expansion-panel-header {
    padding: 0 15px !important;
  }

  .mat-expansion-panel-body {
    padding: 0 0 0!important;
  }

  mat-nav-list img {
    height: 20px;
    margin-right: 15px;
    margin-bottom: 8px;
  }

  mat-nav-list {
    padding-top: 1px;
  }

  .active-menu {
    background-color: rgba(83, 85, 89, 0.1) !important;
    border: 1px solid rgba(0, 0, 0, 0.151) !important;
    font-size: 14px!important;
    color: black!important;
    border-left: 3px solid #00405d!important;
  }

  .sidenav {
    width: 300px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.14);
    height: 100%!important;
  }

  .helpmenu {
    width: 360px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.14);
    height: 100%!important;
  }

  .sidenav {
    .ks-icon {
      color: #00405d;
      font-size: 20px;
      margin-right: 18px;
    }

    .big-menu-items{
      display: block;
      width: 100%;
      padding: 0;
      line-height: 18px;
      font-size: 13px;
      font-weight: 300;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1) !important;
    }

    .big-menu-items:hover {
      transform: scale(1.01);
      color: black!important;
    }

    .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
      display: block;
      width: 100%;
      padding: 0;
      line-height: 10px;
      font-size: 13px;
      font-weight: 300;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1) !important;
    }

    .mat-list-base .mat-list-item:hover, .mat-list-base .mat-list-option:hover {
      transform: scale(1.03);
      font-size: 14px!important;
      color: black!important;
      border-right: 4px solid #0277bd!important;
    }
  }




  .mat-drawer-inner-container {
    overflow: hidden!important;
  }

  .mat-drawer-inner-container:hover {
    overflow: auto!important;
  }


  .mat-drawer-inner-container::-webkit-scrollbar {
    width: 8px !important;
  }

  .mat-drawer-inner-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px !important;
  }

  .mat-drawer-inner-container .model-card::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  }

}
