<app-shared-layout
  Analysis="Accounts Dashboard"
  image="dashboard"
  [hideAdd]="true"
  [viewDetails]="false"
  [addPermission]="[]"
  [smallForm]="false"
  animationSize="full"
  [formTitle]="''">
  <div ngProjectAs="table">
    <div class="w-full flex flex-col gap-8 mt-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div
          class="md:col-span-2 bg-black/20 rounded-3xl shadow-sm flex items-center justify-center transition-all h-96">
          Dashboard Card</div>
        <div
          class="md:row-span-2 bg-black/20 rounded-3xl shadow-sm flex items-center justify-center transition-all">
          Dashboard Card</div>
        <div
          class="bg-black/20 rounded-3xl shadow-sm flex items-center justify-center transition-all h-96">
          Dashboard Card</div>
        <div
          class="bg-black/20 rounded-3xl shadow-sm flex items-center justify-center transition-all h-96">
          Dashboard Card</div>
        <div
          class="bg-black/20 rounded-3xl shadow-sm flex items-center justify-center transition-all h-96">
          Dashboard Card</div>
        <div
          class="bg-black/20 rounded-3xl shadow-sm flex items-center justify-center transition-all h-96">
          Dashboard Card</div>
      </div>
    </div>
  </div>
  <div ngProjectAs="form">
  </div>
</app-shared-layout>

