<mat-toolbar class="no-print !bg-transparent">
  <mat-toolbar-row class="!pr-0">
    <div class="w-full flex flex-row justify-between items-center">
      <h3 class="flex items-center gap-2">
        <mat-icon *ngIf="image" [svgIcon]="image" class="!h-6 !w-6 text-word-primary opacity-70"></mat-icon>

        <!--        <img class="mr-2 h-10"-->
<!--          [src]="'assets/images/icons/'+image">-->
<!--        <a [routerLink]="['', 'page', 'home']"-->
<!--          class="text-first text-4xl font-black no-underline">Home </a>-->
<!--        <span class="text-first text-4xl font-light no-underline">/</span>-->
        <span class="text-2xl font-black tracking-wider text-word-primary"> {{ title }}</span>
      </h3>
<!--      <div *appHasPermission="addPermission || ''">-->
<!--        <button @fadeIn-->
<!--          [ngClass]="routeAnimationsElements"-->
<!--          *ngIf="!hideAdd && !viewDetails"-->
<!--          mat-raised-button-->
<!--          (click)="add()"-->
<!--          style="padding-right: 25px; padding-bottom: 5px; padding-top: 5px;"-->
<!--          class="!text-white dark:!text-word-primary !bg-primary-900 !rounded-3xl">-->
<!--          <mat-icon>add</mat-icon> Create-->
<!--        </button>-->
<!--      </div>-->


    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar mode="indeterminate"
  *ngIf="loading"></mat-progress-bar>
