.nopadding {
  padding-left: 0px;
  padding-right: 0px;
}

.close-button {
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.3)
}



.mat-divider-title{
  color: #8e8e8e;
}

.mat-divider {
  border-top-color: #949494;
  margin-bottom: 15px;
  margin-top: 14px;
}

.cursor {
  cursor: pointer;
}
