<app-top-banner [title]="Analysis"
  [image]="image"
  [showHelp]="showHelp"
  [hideAdd]="hideAdd"
  [viewDetails]="viewDetails"
  [addPermission]="addPermission"
  [menuItems]="menus"
  (addClicked)="add()"
  *ngIf="!hideBreadcrumb">
</app-top-banner>
<div>
  <div>
    <div class="pl-3">
      <div class="row no-print">
        <div class="col-md-12">
          <ng-content select="summary"></ng-content>
        </div>
      </div>
      <div class="row no-print">
        <div class="col-md-12">
          <ng-content select="orgUnitSelection"></ng-content>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div [@tableSize]="
              viewDetails ? (smallForm ? 'eighty' : animationSize) : 'hundred'
            "
            class="no-print">
            <ng-content select="table"></ng-content>
          </div>

          <div [@formSize]="
              viewDetails ? (smallForm ? 'twenty' : animationSize) : 'zero'
            ">
            <h5 class="flex justify-between items-center">
              <div class="flex items-center">
                <!--                <button mat-icon-button (click)="closeForm()">-->
                <!--                  <mat-icon>arrow_back</mat-icon>-->
                <!--                </button>-->
                <span *ngIf="formTitle"
                  class="text-lg">
                  {{ formTitle }}
                </span>
              </div>
              <button mat-button
                title="Close Form"
                (click)="closeForm()"
                class="fa-pull-right cursor close-button">
                <mat-icon>close</mat-icon> Close
              </button>
            </h5>
            <mat-divider class="no-print"></mat-divider>
            <p *ngIf="loading">Saving Data...</p>
            <mat-progress-bar mode="indeterminate"
              *ngIf="loading">
            </mat-progress-bar>
            <mat-card>
              <ng-content select="form"></ng-content>
            </mat-card>
          </div>
          <!-- /.col-md-12 -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ng-container *appHasPermission="addPermission || ''">
  <div class="col-md-12"
    *ngIf="!viewDetails">
    <a style="z-index: 100;"
      *ngIf="!hideAdd"
      title="Add"
      (click)="add()"
      mat-fab
      class="add-item !bg-first">
      <mat-icon>add</mat-icon>
    </a>
  </div>
</ng-container> -->
