<nav class="main-nav mat-elevation-z6">
  <mat-toolbar class="toolbar no-print text-ac">
    <div class="w-full flex flex-row justify-between items-center gap-3">
      <div class="flex flex-row gap-4 items-center justify-start">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="onToggleSidenav()"
                *ngIf="(isHandset$ | async) && !usedInApps">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span class="secondary-color">
        <img [src]="schoolLogo" style="height: auto; width: 50px; margin-bottom: 2px; margin-left: 10px; border-radius: 50%">
        </span>
        <span class="text-word-primary text-2xl font-semibold">
      {{schoolName}}
    </span>
      </div>
<!--      <div class="p-2 w-5/12 mx-5 search-area mt-2">-->
<!--        <mat-form-field appearance="outline">-->
<!--          <mat-icon matPrefix>search</mat-icon>-->
<!--          <input matInput placeholder="Search">-->
<!--        </mat-form-field>-->
<!--      </div>-->
      <div>
        <mat-menu #appMenu="matMenu" class="profile-menu">
          <button mat-menu-item>
            <mat-icon>person_outline</mat-icon>
            Profile
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>help_outline</mat-icon>
            User Manual
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>lock_open</mat-icon>
            Logout
          </button>
          <div mat-menu-item>
            <mat-icon class="mr-8">brightness_5</mat-icon>
            <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
            </mat-slide-toggle>
            <mat-icon>bedtime</mat-icon>
          </div>
          <!--      <mat-list>-->
          <!--        <mat-list-item>-->
          <!--          <a routerLink="/erp-general/profile" mat-menu-item>-->
          <!--            <mat-icon>person_outline</mat-icon> Profile-->
          <!--          </a>-->
          <!--        </mat-list-item>-->
          <!--        <mat-divider></mat-divider>-->
          <!--        <mat-list-item>-->
          <!--          <a mat-menu-item>-->
          <!--            <mat-icon>help_outline</mat-icon> User Manual-->
          <!--          </a>-->
          <!--        </mat-list-item>-->
          <!--        <mat-divider></mat-divider>-->
          <!--        <mat-list-item>-->
          <!--          <a routerLink="/logout" mat-menu-item>-->
          <!--            <mat-icon>lock_open</mat-icon> Logout-->
          <!--          </a>-->
          <!--        </mat-list-item>-->
          <!--        <mat-divider></mat-divider>-->
          <!--        <mat-list-item>-->
          <!--          <div style="padding: 20px">-->
          <!--            <h6 style="margin-bottom: 0px" *ngIf="userName">{{ userName | titlecase }}</h6>-->
          <!--            <p style="margin-bottom: 0px; font-size:10px" *ngIf="email">{{ email }}</p>-->
          <!--          </div>-->
          <!--        </mat-list-item>-->
          <!--      </mat-list>-->

        </mat-menu>


        <!--    Notifications-->
        <mat-menu #notification="matMenu" class="menu-items">
          <app-notifications [notifications]="[]" [total]="0"></app-notifications>
        </mat-menu>

        <button style="min-width: 50px;" class="menu-trigger" title="See your Notifications" mat-icon-button
                [matMenuTriggerFor]="notification">
          <mat-icon class="text-word-primary" [matBadge]="0" matBadgeSize="small" matBadgeColor="primary" matBadgePosition="above after"
                    style="margin-right: 12px;" [svgIcon]="'notification'"></mat-icon>
        </button>


        <button title="User Options" mat-button [matMenuTriggerFor]="appMenu">
          <div class="flex flex-row justify-between items-center gap-2 text-word-primary">
            <div class="flex flex-row justify-between items-center gap-2 text-xl font-light tracking-wider">
              <mat-icon class="flex-none ">person</mat-icon>
              <p class="user-title">{{ userName | titlecase }}</p>
            </div>
            <mat-icon class="flex-none text-2xl">arrow_drop_down</mat-icon>
          </div>
        </button>
      </div>
    </div>
  </mat-toolbar>
</nav>
